h2{
font-size: 20px; 
font-family: sans-serif; 
color: white; 
background: grey;
position:sticky; 
top: 10px;
}

/* prograss bar 
div 
span 
Float 
center  */
img{
    float: right;
    width: 150px;
    height: 150px;
}
.col1{
    float: left;
    width: 30%;
}
span{
    float: right;
}
.declare
{
font-size: 20px; 
text-align: center; 
/* text-decoration: underline;  */
}
/* .h2
{
font-size: 20px;  
text-decoration: underline; 
} */
#file{
    float: left;
}
#key{
    float: right    ;
}